# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtual environments
venv/
env/
.venv/

# Jupyter / IDE / OS files
.ipynb_checkpoints/
.idea/
.vscode/
.DS_Store
Thumbs.db

# Build / logs / data
build/
dist/
*.log
*.sqlite3
*.pkl

# Git LFS tracked files (you already use this)
*.h5
*.zip
